* {
    font-family: system-ui, system-ui, sans-serif;
}

/* .wallpaper{
    background-image: url("imgs/wallpaper-s1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */

/* SECTION 1 CSS */
.s1-container{
    background-image: url("imgs/wallpaper-s1.jpg");
    width: 100%;
    max-height: 0%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw 100vh;

} 

  
.text-Box {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    color: #FFF;
    justify-content: center;
    align-items: center;
  }
  
.s1-1{
 padding-top: 25%;
 font-size: 50px;
    min-width: 50%;
}

.s1-2{
    padding-top:15%; 
    font-size: 20px;
    min-width: 20%;
    color: #9AA0A6;
    font-style: italic;
}

@media only screen and (max-width: 750px) {
    .s1-container {
        max-height: 10%;
        background-size: 100vw 100vh; 
    }
    .s1-1{
        font-size: 25px;
    }
  }


/* SECTION 3 CSS */

.s3{
    width: 100%;
    display: inline-flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .s3-1 > p, .s3-2 > p {
    color: #fff;
    position: relative;
    vertical-align: middle;  
  
  }

  .s3div {
      border: 2px solid red;
    width: 40%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
  }
  
  .s3-1{
    background-image: url('imgs/wallpaper-s3-1.jpg');
  }

  .s3-2{
    background-image: url('imgs/wallpaper-s3-2.jpg');
  }

  .text-ts3-1{
      margin-top: 10%;
      margin-bottom: 80%;
  }

  .text-ts3-2{
      margin-bottom: 20%;
  }

 
@media only screen and (max-width: 500px) {
    .s3-1 > p, .s3-2 > p {
        font-size: smaller;
    }
  } 
  @media only screen and (max-width: 380px) {
    .s3-1 > p, .s3-2 > p {
        font-size: 10px;
    }
  } 

  /* MAX WIDTH FOR THE DIVS */
  @media only screen and (min-width: 1200px) {
    .s3div {
        width: 35%;
        font-size: 18px;
    }
  } 

/* SECTION 5 CSS */
.s5-table{
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid red;
}

.s5-td1, .s5-td2, .s5-td3{
    /* padding: 5%; */
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}

.s5-td1{
    width:30%;
    background-image: url('imgs/wallpaper-s5-1.jpg');
}

.s5-td2{
    width: 30%;
    background-image: url('imgs/wallpaper-s5-2.jpg');
}

.s5-td3{
    background-image: url('imgs/wallpaper-s5-3.jpg');
}

.br-big-screen{
    display: none;
}

.s5-td1 > p, .s5-td2 > p, .s5-td3 > p {
    color: #fff;
    font-size: 15px;
    position: relative;  
    vertical-align: middle;
  }


  @media only screen and (max-width: 525px) {
    .s5-td1 > p, .s5-td2 > p, .s5-td3 > p {
        font-size: 11px;
    }
    .s5-td1, .s5-td2, .s5-td3 {
    padding: 5%;
    padding-bottom: 6%;
    }
  } 

  @media only screen and (min-width: 526px) {
    .s5-td1, .s5-td2, .s5-td3 {
        padding: 6.5%;
        padding-bottom: 7.5%;
        }
  }

  @media only screen and (min-width: 650px) {
    .s5-td1, .s5-td2, .s5-td3 {
        padding: 8%;
        padding-bottom: 9%;
        }
  }

  @media only screen and (min-width: 900px) {
    .s5-td1, .s5-td2, .s5-td3 {
        width:15%;
        }
    .br-big-screen{
        display: block;
    }
  }

  @media only screen and (min-width: 1200px) {
    .s5-td1, .s5-td2, .s5-td3 {
        width:10%;
    }
  }

    
  @media only screen and (min-width: 1400px) {
    .s5-td1, .s5-td2, .s5-td3 {
        width:8%;
    }
  }

  @media only screen and (max-width: 400px) {
    .s5-td1 > p, .s5-td2 > p, .s5-td3 > p {
        font-size: 8.5px;
    }
  } 


/* SECTION 7  */
.s7 {
    width:50%;
    height:50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: darkblue;
    color:white;
}

.s7 > form > input[type=text]{
    padding: 10px;
    margin:10px;
    color: darkblue;
    
}